[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'for path in "%h/.local/share/dotfiles/Kanagawa.jpg" "%h/.dotfiles/common/bg-images/Kanagawa.jpg" "%h/dotfiles/common/bg-images/Kanagawa.jpg"; do [ -f "$path" ] && exec /usr/bin/swaybg -m fill -i "$path"; done; exit 1'
Restart=on-failure
RestartSec=3
