[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = delta

[user]
	name = Huynh Duc Dung
	email = dunghd.it@gmail.com

[interactive]
    	diffFilter = delta --color-only

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[delta]
    navigate = true  # use n and N to move between diff sections%
